{:site-title         "(カッコの中の小人)"
 :author             "ponkore"
 :description        "主にProgrammingなネタ集です。"
 :site-url           "https://ponkore.github.io/"
 :post-root          "posts"
 :tag-root           "tags"
 :page-root          "pages"
 :blog-prefix        nil ;; "/blog"
 :rss-name           "atom.xml"
 ;:rss-filters        ["cryogen"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :sass-src           "themes/blue/css"
 :sass-dest          nil
 :theme              "blue"
 :resources          ["img" "fonts"]
 :keep-files         [".git" ".gitignore" "misaki"]
 :disqus?            true
 :disqus-shortname   "ponkoresblog"
 :ignored-files      [#"\.#.*" #".*\.swp$" #".*\.css\.map$" #"\.sass-cache"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          false}
