{:site-title         "(a little man in parenthesis)"
 :author             "ponkore"
 :description        "主にProgrammingなネタ集です。"
 :site-url           "https://ponkore.github.io/"
 :post-root          "posts"
 :page-root          "pages"
 :post-root-uri      nil
 :page-root-uri      nil
 :tag-root-uri       "tags"
 :blog-prefix        nil ;; "/blog"
 :rss-name           "atom.xml"
 ;:rss-filters        ["cryogen"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :archive-group-format "yyyy年MM月"
 :sass-src           "themes/matcha-green/css"
 :sass-dest          nil
 :theme              "matcha-green"
 :resources          ["img"]
 :keep-files         [".git" ".gitignore" "misaki"]
 :disqus?            true
 :disqus-shortname   "ponkoresblog"
 :ignored-files      [#"\.#.*" #".*\.swp$" #".*\.css\.map$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          true}
